* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }

  body {
    background-color: #1e1e2f;
    font-family: 'Poppins', sans-serif;
    color: #e0e0e0;
    display: flex; 
    
    color: white;
    
  }

  h1 {
    color: #00bcd4;
    font-size: 3rem;  
  }

  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 8px;
    background-color: #30304d;
    color: #e0e0e0;
  }

  button {
    width: 25%;
    padding: 10px;
    background-color: #00bcd4;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 37%;
    margin-top: 50px;
  }

  div{
    margin-top: 8%;  
    margin-left: 37%; 
  }
  
  .radio-option {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-right: 10px;
  }
